PyJWT==2.10.1
toml==0.10.2
SQLAlchemy==2.0.39
GeoAlchemy2==0.17.1
geopandas==1.0.1
pandas==2.2.2
marshmallow==3.26.2
matplotlib==3.10.0
openpyxl==3.1.2
shapely==2.0.6
python-bidi==0.6.6
arabic-reshaper==3.0.0
bcrypt==4.3.0

